astroid==3.0.1
autopep8==2.0.4
certifi==2023.7.22
colorama==0.4.6
dill==0.3.7
distlib==0.3.7
filelock==3.13.0
isort==5.12.0
mccabe==0.7.0
pep8==1.7.1
pipenv==2023.10.24
platformdirs==3.11.0
pycodestyle==2.11.1
pylint==3.0.2
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
tomlkit==0.12.1
virtualenv==20.24.6
